<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">
    <title>E-Farm</title>
    	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript"  src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
          <link rel="stylesheet" th:href="@{/css/blog.css}" href="../../css/blog.css"/>
    </div>
</head>
<body>
<div th:fragment="login_header">
    <!-- this is header -->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/home">E-Organic Market</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li class=""><a href="/home">Home</a></li> -->
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shopping <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/buy">Buy</a></li>
            <li><a href="/sell">Sell</a></li>
          </ul>
        </li> -->
        <li><a href="/buy">Buy</a></li>
        <li><a href="/sell">Sell</a></li>
        <li><a th:href="@{/about}">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/registration}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        <!-- <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li> -->
      </ul>
    </div>
  </div>
</nav>
</div>


<div th:fragment="header">
    <!-- this is header -->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/home">E-Organic Market</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li class=""><a href="/home">Home</a></li> -->
        <li><a href="/buy">Buy</a></li>
        <li><a href="/sell">Sell</a></li>
   <!--      <li><a  href="/category">Add New Product Category</a></li>
        <li><a href="/product">Add New Product</a></li> -->
        <li><a th:href="@{/about}">About Us</a></li>
      </ul>
       <ul class="nav navbar-nav">
        <li><a href="/placedOrders">My Orders</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div th:fragment="admin_header">
    <!-- this is header -->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/admin">E-Organic Market</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <!--  <li class=""><a href="/home">Home</a></li> -->
     <!--    <li><a href="/buy">Buy</a></li>
        <li><a href="/sell">Sell</a></li> -->
        <li><a  href="/admin/category">Add New Product Category</a></li>
        <li><a href="/admin/product">Add New Product</a></li>
        <li><a th:href="@{/about}">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>

	<div th:fragment="prod-search">
		<label for="prodName"><span th:text="'Product Name:'"></span></label>
		  <div class="input-group">
		    <input type="text" class="form-control" placeholder="Search your item here" id="prodName" size="100" th:field="*{prodName}" />
		    <div class="input-group-btn">
		      <button class="btn btn-default" type="submit" id="Search" style="margin-top: -1px;">
		        <i class="glyphicon glyphicon-search"></i>
		      </button>
		    </div>
		  </div>
	</div>
</body>
</html>