<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
    	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript"  src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </div>
    
    <script>
	$(document).ready(function() {
		$('#Search').click(function() {
			//alert($("#product option:selected" ).text());
			//$("#prodName").val($("#product option:selected" ).text());
			document.forms[0].action = "/search";
			document.forms[0].submit();
		});
	});
</script>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">E-Organic Market</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shopping <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/buy">Buy</a></li>
            <li><a href="/sell">Sell</a></li>
          </ul>
        </li>
        <!-- <li><a href="#">Page 2</a></li> -->
        <li><a th:href="@{/about}">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/registration}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div  th:fragment="prod-search">
		<table>
			<tr>
			<td>
	<div class="hero-unit">
					<h3>
						<span th:text="'Product Name:'"></span>
						 <input type="text" size="40" class="form-control" id="prodName" th:field="*{prodName}" />
					</h3>
			</div>
			</td>
			<td>
			<div class="hero-unit">
					<h3>
					<br />
					<input type="submit" id="Search" class="btn btn-info" value="Search"></input>
					</h3>	
					
</div>
</td>
</tr>
</table>
</div>

</body>
</html>