<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
<style type="text/css">
.background {
    width: 100%;
    background-image: url('../../images/efarm.gif');
   /* background-repeat: no-repeat;
    background-size: 80px 60px;*/
}
</style>
</head>
<body class="">

<div th:replace="fragments/header :: admin_header"></div>



<div class="blog-header">
      <div class="container">
        <h6 class="blog-title w3-myfont">Welcome To E-organic Market</h6>
        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
      </div>
</div>

<div class="container background">
<!-- <img th:src="@{./images/efarm.gif}" class="img-rounded" alt="E-Organic Market"  align="centre" width="1800" height="300"> </img>
 -->    <div class="starter-template">
    </div>
</div>

<!-- <div class="container">

    <div class="starter-template">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    </div>

</div> -->
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>