<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Farm</title>
 <div th:replace="fragments/header :: header-css"></div>
 
<script type="text/javascript" src="../scripts/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="../../css/bootstrap-datepicker.min.css" />

</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="blog-header sell_header">
      <div class="container">
        <h6 class="blog-title w3-myfont">Sell Your Product Here</h6>
        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
      </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<form th:object="${farm}" method="post" enctype="multipart/form-data" class="form-horizontal">
					<h4 th:text="${msg}" style="color: green;font-family: Arial, Times, serif;" align="center"></h4>
					
					<div class="form-group">
					    <label class="col-md-3 control-label"><span th:text="'Product Category:'"></span> </label>  
						<div class="col-md-6">
							<select id="category" th:field="*{category}" class="form-control">
							<option value="">Select</option>
							<option th:each="c : ${categories}" th:value="${c.catId}" th:text="${c.catName}"></option>
							</select>
						</div>
						<div class="col-md-3">
							<p class="form-error-text" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category Error</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-3 control-label"><span th:text="'Product:'"></span></label>
						<div class="col-md-6">
							<select id="product" name="product" th:field="*{prodId}" class="form-control">
								<option value="">Select</option>
								<option th:each="p : ${products}" th:value="${p.prodId}" th:text="${p.prodName}"></option>
							</select>
						</div>
						<div class="col-md-3">
							<p class="form-error-text" th:if="${#fields.hasErrors('prodId')}" th:errors="*{prodId}">Product Name Error</p>
						</div>
					</div>
					
					<div class="form-group" style="display:none">
						 <label class="col-md-3 control-label"><span th:text="'Product Name:'"></span></label>
						 <div class="col-md-6">
						 	<input type="text" class="form-control" size= "100" id="prodName" th:field="*{prodName}" />
						 </div>
					</div>
					
					<div class="form-group">	
						<label class="col-md-3 control-label"><span th:text="'Product Description:'"></span></label>
						<div class="col-md-6">
							<input type="text" class="form-control" size= "100" id="prodDesc" th:field="*{prodDesc}" />
						</div>
						<div class="col-md-3">
							<!-- <p class="form-error-text" th:if="${#fields.hasErrors('prodDesc')}" th:errors="*{prodDesc}">Product Description Error</p> -->
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label"><span th:text="'Product Delivery Mode:'"></span></label>
						<div class="col-md-6">
							<select id="prodDel" th:field="*{prodDeliveryMode}" class="form-control">
								<option th:value="'Self Service'" th:text="'Self Service'">Fruits</option>
								<option th:value="'Home Delivery'" th:text="'Home Delivery'">Vegetables</option>
							</select>
						</div>
						<div class="col-md-3">
							<p class="form-error-text" th:if="${#fields.hasErrors('prodDeliveryMode')}" th:errors="*{prodDeliveryMode}">Product Delivery Mode Error</p>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label"><span th:text="'Product Quantity:'"></span></label>
						<div class="col-md-6">
							<input type="number" class="form-control" size= "10" id="prodQuantity" th:field="*{prodQuantity}" />
						</div>
						<div class="col-md-3">
							<p class="form-error-text" th:if="${#fields.hasErrors('prodQuantity')}" th:errors="*{prodQuantity}">Product Selling Quantity Error</p>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label"><span th:text="'Units:'"></span></label>
						<div class="col-md-6">
							<select id="product" name="product" th:field="*{prodUnits}" class="form-control">
								<option th:value="'0'" th:text="'Select'">Select</option>
								<option th:value="'Kg'" th:text="'Kg'"></option>
								<option th:value="'Litres'" th:text="'Litres'"></option>
								<option th:value="'Pieces'" th:text="'Pieces'"></option>
							</select>
						</div>
						<div class="col-md-3">
							<p class="form-error-text" th:if="${#fields.hasErrors('prodUnits')}" th:errors="*{prodUnits}">Product Unit Error</p>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label"><span th:text="'Product Price:'"></span></label>
						<div class="col-md-6">
							<input type="number" class="form-control" size= "20"  id="prodPrice" th:field="*{prodPrice}" />
						</div>
						<div class="col-md-3">
							<p class="form-error-text" th:if="${#fields.hasErrors('prodPrice')}" th:errors="*{prodPrice}">Product Price Error</p>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label"><span th:text="'Expiry:'"></span></label>
						<div class="col-md-6">
							<div class="input-group date" data-provide="datepicker">
								<input type="text" class="form-control" id="date" size= "100" th:name="prodExpiry" th:field="*{prodExpiry}" required="required" />
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-th"></span>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<!-- <p class="form-error-text" th:if="${#fields.hasErrors('prodExpiry')}" th:errors="*{prodExpiry}">Product Expire Error</p> -->
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-3 control-label"><span th:text="'Product Image:'"></span></label>
						<div class="col-md-6">
							<input type="file" name="imgFile" th:field="*{imgFile}" /> <!-- class="form-control" -->
						</div>
						<div class="col-md-3">
							<!-- <p class="form-error-text" th:if="${#fields.hasErrors('imgFile')}" th:errors="*{imgFile}">Product image Selection Error</p> -->
						</div>
					</div>
					
					<div class="form-group">        
      					<div class="col-sm-offset-6 col-sm-6">
							<input type="submit" id="sell" class="btn btn-info" value="Submit" />
						</div>
					</div>
				
				</form>
			</div> <!-- ./col-sm-6 -->
			
			<div class="col-sm-2"></div>
	</div> <!-- ./row -->
</div> <!-- ./container upload -->
	
<footer class="blog-footer">
     <p>
     	<div th:replace="fragments/footer :: footer"></div>
     </p>
     <p>
       <a href="#">Back to top</a>
     </p>
</footer>
</body>
<script>
	$(document).ready(function() {
		$('#category').change(function() {
			document.forms[0].action = "/populateProduct";
			document.forms[0].submit();
		});
		$('#sell').click(function() {
			//alert($("#product option:selected" ).text());
			$("#prodName").val($("#product option:selected" ).text());
			document.forms[0].action = "/addProductToSell";
			document.forms[0].submit();
		});
		$('#date').datepicker({
			format: "mm/dd/yyyy",
			weekStart : 0,
			startDate : "0d",
			todayBtn : "linked",
			language : "it",
			autoclose : true,
			todayHighlight : true,
			//setDate: new Date(),
		    autoclose: true,
		});
		$("#date").datepicker('update',new Date());
		
	/*     $("#date").datetimepicker({
	        format: "mm dd yyyy - hh:ii"
	    }); */
	});
</script>
</html>