<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" ></div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../scripts/bootstrap-datetimepicker.js"></script>


<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
<link rel="stylesheet" th:href="@{/css/blog.css}" />



<script>
	$(document).ready(function() {
		$('#Search').click(function() {
			document.forms[0].action = "/search";
			document.forms[0].submit();
		});
		$('#buy').click(function() {
			document.forms[0].action = "/buyBasket";
			document.forms[0].submit();
		});
		
		$("#cart tbody").on("click", "tr > .removeItem", function(e){
		//$(".remove_item").on("click", function(e){
		   // alert("hiiii");
		    //alert( $(this).closest("tr").find(".item_price").val());
		    var price=$(this).closest("tr").find(".item_price").val();
		    var length= $("#cart tbody > tr").length - 2;
		    //alert( length);
		    if(length == 1){
		    	$("#cart").hide();
		    	return false;
		    }
		    var total=$('#cart tbody tr:eq('+length+')').find('.total_price').val();
		    var finalTotal=total-price;
		    //alert( length);
		    //alert(finalTotal);
		    $('#cart tbody tr:eq('+length+')').find('.total_display').text("Rs."+finalTotal);
		    $('#cart tbody tr:eq('+length+')').find('.total_price').prop("value", function () {
	        	return finalTotal;
			});
		    $(this).closest("tr").remove();
		   
		        $("tr .seller_id").prop("name", function () {
		        	return "basket["+($(this).closest('tr').index())+"].sellerId";
				});
		        
		        $("tr .seller_prod_id").prop("name", function () {
		        	return "basket["+($(this).closest('tr').index())+"].sellerProdId";
				});
		        
		        $("tr .quantity").prop("name", function () {
		        	return "basket["+($(this).closest('tr').index())+"].quantity";
				});
		        
		        $("tr .item_price").prop("name", function () {
		        	return "basket["+($(this).closest('tr').index())+"].itemPrice";
				});
		        
		        $("tr .price").prop("name", function () {
		        	return "basket["+($(this).closest('tr').index())+"].price";
				});
		        
		        $("tr .prod_units").prop("name", function () {
		        	return "basket["+($(this).closest('tr').index())+"].prodUnits";
				});
		        
		        $("tr .total_price").prop("name", function () {
		        	return "basket["+(($(this).closest('tr').index())-1)+"].totalPrice";
				});
		        
		        $("tr .seller_id").prop("id", function () {
		        	return "basket["+($(this).closest('tr').index())+"].sellerId";
				});
		        
		        $("tr .seller_prod_id").prop("id", function () {
		        	return "basket["+($(this).closest('tr').index())+"].sellerProdId";
				});
		        
		        $("tr .quantity").prop("id", function () {
		        	return "basket["+($(this).closest('tr').index())+"].quantity";
				});
		        
		        $("tr .item_price").prop("id", function () {
		        	return "basket["+($(this).closest('tr').index())+"].itemPrice";
				});
		        
		        $("tr .price").prop("id", function () {
		        	return "basket["+($(this).closest('tr').index())+"].price";
				});
		        
		        $("tr .prod_units").prop("id", function () {
		        	return "basket["+($(this).closest('tr').index())+"].prodUnits";
				});
		        
		        $("tr .total_price").prop("id", function () {
		        	return "basket["+(($(this).closest('tr').index())-1)+"].totalPrice";
				}); 
		});
	});
</script>
</head>

<body>
	<div th:replace="fragments/header :: header" ></div>
	
	<div class="blog-header">
	      <div class="container">
	        <h6 class="blog-title w3-myfont">Your Cart</h6>
	        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
	      </div>
	</div>
	
	<div class="container upload">
	<div class="row" align="center">
		<form th:object="${farm}" method="post" enctype="multipart/form-data">
			<div th:replace="fragments/header :: prod-search"></div>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<div class="row">
				<table class="table table-bordered" th:if="${cart !=null and !cart.empty}" id="cart">
				<thead>
				<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Per Unit Cost</th>
				<th>Cost</th>
				<th>Remove</th>
				</tr>
				</thead>
				<tbody>
					<div th:each="cartObj,rowStat : ${cart}">
						<tr th:if="${cartObj.addToCart}">
						
							<td hidden="hidden">
							<input type="text" class="form-control seller_id" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].sellerId'}"
							th:id="${'basket['+__${rowStat.index}__+'].sellerId'}"
							th:text="${cartObj.sellerId}" 
							th:value="${cartObj.sellerId}" />
							</td>
							
							<td hidden="hidden">
							<input type="text" class="form-control seller_prod_id" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].sellerProdId'}"
							th:id="${'basket['+__${rowStat.index}__+'].sellerProdId'}"
							th:text="${cartObj.sellerProdId}" 
							th:value="${cartObj.sellerProdId}" />
							</td>
							
							<td th:text="${cartObj.name}"></td>
							
							<td  th:text="${cartObj.quantity} + ${cartObj.prodUnits}"></td>
							<td  th:text="${cartObj.price}"></td>
							<td  th:text="${cartObj.itemPrice}"></td>
							
							<td hidden="hidden">
							<input type="text" class="form-control item_price" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].itemPrice'}"
							th:id="${'basket['+__${rowStat.index}__+'].itemPrice'}"
							th:text="${cartObj.itemPrice}" 
							th:value="${cartObj.itemPrice}" />
							</td>
							
							<td hidden="hidden">
							<input type="text" class="form-control price" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].price'}"
							th:id="${'basket['+__${rowStat.index}__+'].price'}"
							th:text="${cartObj.price}" 
							th:value="${cartObj.price}" />
							</td>
							
							<td hidden="hidden">
							<input type="text" class="form-control prod_units" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].prodUnits'}"
							th:id="${'basket['+__${rowStat.index}__+'].prodUnits'}"
							th:text="${cartObj.prodUnits}" 
							th:value="${cartObj.prodUnits}" />
							</td>
							
						    <td hidden="hidden">
							<input type="text" class="form-control quantity" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].quantity'}"
							th:id="${'basket['+__${rowStat.index}__+'].quantity'}"
							th:text="${cartObj.quantity}" 
							th:value="${cartObj.quantity}" />
							</td>
							
							<td class="removeItem">  <a href="#" class="remove_item"><span class="glyphicon glyphicon-remove"></span></a>
					        </td>
						</tr>
						<tr th:if="${rowStat.index >= rowStat.size-1}">
							<td></td>
							<td></td>
							<td></td>
							<td th:text="'Total Cost '"></td>
							<td  class="total_display" th:text="'Rs.' + ${cartObj.totalPrice}"></td>
							
							<td hidden="hidden">
							<input type="text" class="form-control total_price" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].totalPrice'}"
							th:id="${'basket['+__${rowStat.index}__+'].totalPrice'}"
							th:text="${cartObj.totalPrice}" th:value="${cartObj.totalPrice}" />
							</td>
						</tr>
					</div>
					
					<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
								<td>
								<input type="submit" id="buy" class="btn btn-info btn-lg" value="Place Order"></input>
							</td>
					</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>
	<br/><br/><br/><br/>
	
	<footer class="blog-footer">
	      <p>
	      	<div th:replace="fragments/footer :: footer"></div>
	      </p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	</footer>
</body>

</html>