<!DOCTYPE html>
<html lang="en">
<head>
<title>E-Farm</title>
 <div th:replace="fragments/header :: header-css"/>

</head>

<body>
<div th:replace="fragments/header :: header"></div>

	<div class="blog-header">
	      <div class="container">
	        <h6 class="blog-title w3-myfont">Here is your daily needs</h6>
	        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
	      </div>
	</div>
	
	<div class="container upload">
	<form th:object="${farm}" method="post" enctype="multipart/form-data">
	<div th:replace="fragments/header :: prod-search"></div>
	</form>
	</div>
	
	<br/><br/><br/>
	
	<footer class="blog-footer">
	      <p>
	      	<div th:replace="fragments/footer :: footer"></div>
	      </p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	</footer>
	
</body>

</html>