<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" ></div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script
	src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../scripts/bootstrap-datetimepicker.js"></script>


<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
<link rel="stylesheet" th:href="@{/css/blog.css}" />



<script>
	$(document).ready(function() {
		$('#Search').click(function() {
			document.forms[0].action = "/search";
			document.forms[0].submit();
		});
	});
</script>
</head>

<body>
	<div th:replace="fragments/header :: header" ></div>
	
	<div class="blog-header">
	      <div class="container">
	        <h6 class="blog-title">Order Summary</h6>
	        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
	      </div>
	</div>
	
	<div class="container upload">
		<form th:object="${farm}" method="post" enctype="multipart/form-data">
			<div th:replace="fragments/header :: prod-search"></div>
			<div class="row">
			 <h6 class="blog-title" th:text="'Your order is placed...Your order id is '+${order_id}">  </h6>
				<table class="table table-bordered" th:if="${order !=null and !order.empty}">
					<thead>
					<tr>
					<th>Product</th>
					<th>Pick Up Address</th>
					</tr>
					</thead>
					
					<tbody>
					<tr th:each="orderObj : ${order}">
					<td th:text="${orderObj.name}"> </td>
					<td th:text="${orderObj.address}"> </td>
					</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>

	<br/><br/><br/>
	
	<footer class="blog-footer">
	      <p>
	      	<div th:replace="fragments/footer :: footer"></div>
	      </p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	</footer>
</body>

</html>