<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 <div th:replace="fragments/header :: header-css"></div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../scripts/bootstrap-datetimepicker.js"></script>


<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
<link rel="stylesheet" th:href="@{/css/blog.css}" />

<script>
	$(document).ready(function() {
		$('#CheckOutCart').click(function() {
			//alert($("#product option:selected" ).text());
			//$("#prodName").val($("#product option:selected" ).text());
			document.forms[0].action = "/addToBasket";
			document.forms[0].submit();
		});
	});
</script>
</head>

<body>
<div th:replace="fragments/header :: header"/>

<div class="blog-header">
      <div class="container">
        <h6 class="blog-title w3-myfont">Product details here</h6>
        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
      </div>
</div>

<div class="container upload">
	<form th:object="${farm}" method="post" enctype="multipart/form-data">
<div th:replace="fragments/header :: prod-search"></div>
			<div class="row">
			
				<table class="table table-bordered" th:if="${!farmList.empty}">

				<tr th:each="farmObj,rowStat : ${farmList}">
					<td colspan="2" rowspan="1"> <img th:src="'data:image/jpeg;base64,'+${farmObj.productAltImg}" th:title="${farmObj.prodName}"></img></td>
					
					<td hidden="hidden">
					<input type="text" class="form-control" size= "200" 
					th:name="${'basket['+__${rowStat.index}__+'].sellerId'}"
					th:id="${'basket['+__${rowStat.index}__+'].sellerId'}"
					th:text="${farmObj.sellerId}" 
					th:value="${farmObj.sellerId}" />
					</td>
					
					<td hidden="hidden">
					<input type="text" class="form-control" size= "200" 
					th:name="${'basket['+__${rowStat.index}__+'].sellerProdId'}"
					th:id="${'basket['+__${rowStat.index}__+'].sellerProdId'}"
					th:text="${farmObj.prodId}" 
					th:value="${farmObj.prodId}" />
					</td>
					
					<td hidden="hidden">
					<input type="text" class="form-control" size= "200" 
					th:name="${'basket['+__${rowStat.index}__+'].name'}"
					th:id="${'basket['+__${rowStat.index}__+'].name'}"
					th:text="${farmObj.prodName}" 
					th:value="${farmObj.prodName}" />
					</td>
					
					<td>
					<select  th:field="*{basket[__${rowStat.index}__].quantity}" >
					<option th:each="i : ${#numbers.sequence( 1,  farmObj.prodQuantity)}" th:text="${i} + ${farmObj.prodUnits}" th:value="${i}" /> 
					</select>
					</td>
					
				    <td hidden="hidden">
					<input type="text" class="form-control" size= "200" 
					th:name="${'basket['+__${rowStat.index}__+'].prodUnits'}"
					th:id="${'basket['+__${rowStat.index}__+'].prodUnits'}"
					th:text="${farmObj.prodUnits}" 
					th:value="${farmObj.prodUnits}" />
					</td>
					
					<td colspan="3" rowspan="1" th:text="${farmObj.prodPrice}"></td>
					
					<td hidden="hidden">
					<input type="text" class="form-control" size= "200" 
					th:name="${'basket['+__${rowStat.index}__+'].price'}"
					th:id="${'basket['+__${rowStat.index}__+'].price'}"
					th:text="${farmObj.prodPrice}" 
					th:value="${farmObj.prodPrice}" />
					</td>
					
					<td>  
					<div class="checkbox checkbox-primary">
				    <label>
				    <input type="checkbox" th:name="${'basket['+__${rowStat.index}__+'].addToCart'}"
					th:id="${'basket['+__${rowStat.index}__+'].addToCart'}" th:text="'Add to Basket'"/>
					<span class="glyphicon glyphicon-shopping-cart"></span>
				    </label>
				  </div>
				  </td>
				</tr>
				<tr>
					<div class="hero-unit">
					<h3>
						<br /> <input type="submit" id="CheckOutCart" class="btn btn-info" value="CheckOutCart"></input>
					</h3>
				</div>
				</tr>
				</table>
			</div>	
			
	</form>
	</div>
	
	<br/><br/><br/>
	
	<footer class="blog-footer">
	      <p>
	      	<div th:replace="fragments/footer :: footer"></div>
	      </p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	</footer>
</body>

</html>