<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Farm</title>
 <div th:replace="fragments/header :: header-css"></div>
 
<script type="text/javascript" src="../scripts/bootstrap-datetimepicker.js"></script>

<link rel="stylesheet" href="../../css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" th:href="@{/css/blog.css}" />

</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="blog-header">
      <div class="container">
        <h6 class="blog-title w3-myfont">Sell Your Product Here</h6>
        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
      </div>
</div>

	<form th:object="${farm}" method="post" enctype="multipart/form-data">

		
		<div class="container upload">
			<div class="row">
				<div class="hero-unit">
					<h3>
						<span th:text="'Product Category:'"></span> 
						<select id="category" th:field="*{category}">
						<option value="">Select</option>
						<option th:each="c : ${categories}" th:value="${c.catId}" th:text="${c.catName}"></option>
						</select>
					</h3>
				</div>

				<div class="hero-unit">
					<h3>
						<span th:text="'Product:'"></span> 
						<select id="product" name="product" th:field="*{prodId}">
							<option value="">Select</option>
							<option th:each="p : ${products}" th:value="${p.prodId}" th:text="${p.prodName}"></option>
						</select>
					</h3>
				</div>
				<div class="hero-unit" style="display:none;">
					<h3>
						<span th:text="'Product Name:'"></span>
						 <input type="text" class="form-control" size= "100" id="prodName" th:field="*{prodName}" />
					</h3>
				</div>
				<div class="hero-unit">
					<h3>
						<span th:text="'Product Description:'"></span>
						 <input type="text" class="form-control" size= "200" id="prodDesc" th:field="*{prodDesc}" />
					</h3>
				</div>

				<div class="hero-unit">
					<h3>
						<span th:text="'Product Delivery Mode:'"></span> 
						<select id="prodDel" th:field="*{prodDeliveryMode}">
							<option th:value="'Self Service'" th:text="'Self Service'">Fruits</option>
							<option th:value="'Home Delivery'" th:text="'Home Delivery'">Vegetables</option>
						</select>
					</h3>
				</div>

				<div class="hero-unit">
					<h3>
						<span th:text="'Product Quantity:'"></span> 
						<input type="number" class="form-control" size= "10" id="prodQuantity" th:field="*{prodQuantity}" />
					</h3>
				</div>
				
				<div class="hero-unit">
					<h3>
						<span th:text="'Units:'"></span> 
						<select id="product" name="product" th:field="*{prodUnits}">
							<option th:value="'0'" th:text="'Select'">Select</option>
							<option th:value="'Kg'" th:text="'Kg'">Dairy</option>
							<option th:value="'Litres'" th:text="'Litres'">Vegetables</option>
							<option th:value="'Pieces'" th:text="'Pieces'">Fruits</option>
						</select>
					</h3>
				</div>
				
				<div class="hero-unit">
					<h3>
						<span th:text="'Product Price:'"></span> 
						<input type="number" class="form-control" size= "20"  id="prodPrice" th:field="*{prodPrice}" />
					</h3>
				</div>

				<div class="hero-unit">
					<h3>
						<span th:text="'Expiry:'"></span>
						<div class="input-group date" data-provide="datepicker">
							<input type="text" class="form-control" id="date" size= "100" th:name="prodExpiry" th:field="*{prodExpiry}"></input>
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-th"></span>
							</div>
						</div>
					</h3>
				</div>

				<div class="hero-unit">
					<h3>
						<span th:text="'Product Image:'"></span> 
						<input type="file" name="imgFile" th:field="*{imgFile}" /><br />
						<br /> <input type="submit" id="sell" class="btn btn-info" value="Submit"></input>
					</h3>
				</div>

			</div>
		</div>
	</form>
	
	<footer class="blog-footer">
      <p>
      	<div th:replace="fragments/footer :: footer"></div>
      </p>
      <p>
        <a href="#">Back to top</a>
      </p>
	</footer>
</body>
<script>
	$(document).ready(function() {
		$('#category').change(function() {
			document.forms[0].action = "/populateProduct";
			document.forms[0].submit();
		});
		$('#sell').click(function() {
			//alert($("#product option:selected" ).text());
			$("#prodName").val($("#product option:selected" ).text());
			document.forms[0].action = "/addProductToSell";
			document.forms[0].submit();
		});
/* 		$('#date').datepicker({
			 format: "dd MM yyyy - hh:ii",
			weekStart : 0,
			startDate : "0d",
			todayBtn : "linked",
			language : "it",
			autoclose : true,
			todayHighlight : true,
			//setDate: new Date(),
		    autoclose: true
		});
		$('#date').datepicker('update', new Date()); */
		
	    $("#date").datetimepicker({
	        format: "mm dd yyyy - hh:ii"
	    });
	});
</script>
</html>