<!DOCTYPE html>
<html lang="en">
<head>
<title>E-Farm</title>
 <div th:replace="fragments/header :: header-css"/>

<script>
	$(document).ready(function() {
		$('#addCategory').click(function() {
			document.forms[0].action = "/admin/addCategory";
			document.forms[0].submit();
		});
	});
</script>
</head>

<body>
<div th:replace="fragments/header :: admin_header"></div>

	<div class="blog-header">
	      <div class="container">
	        <h6 class="blog-title w3-myfont">Add New Category to the Product Inventory</h6>
	        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
	      </div>
	</div>
	
	<br/><br/>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<form th:object="${category}" method="post" enctype="multipart/form-data" class="form-horizontal">
					<!-- <h4 th:text="${msg}"></h4> -->
					
					<div class="form-group">
						 <label class="col-md-4 control-label"><span th:text="'Category Name:'"></span></label>
						 <div class="col-md-8">
						 	<input type="text" class="form-control" size= "100" id="prodCategory" th:field="*{name}" />
						 </div>
					</div>
					
					<div class="form-group">
						 <label class="col-md-4 control-label"><span th:text="'Category Description:'"></span></label>
						 <div class="col-md-8">
						 	<input type="text" class="form-control" size= "100" id="prodDescription" th:field="*{description}" />
						 </div>
					</div>
					
					<div class="form-group">        
      					<div class="col-sm-offset-6 col-sm-6">
							<input type="submit" id="addCategory" class="btn btn-info btn-lg" value="AddCategory" />
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</div>
	
	<br/><br/><br/><br/><br/><br/><br/>
	
	<footer class="blog-footer">
	      <p>
	      	<div th:replace="fragments/footer :: footer"></div>
	      </p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	</footer>
	
</body>

</html>