<!DOCTYPE html>
<html lang="en">
<head>
<title>E-Farm</title>
 <div th:replace="fragments/header :: header-css"/>

<script>
	$(document).ready(function() {
		$('#addProduct').click(function() {
			alert("hiiii");
			document.forms[0].action = "/admin/addProduct";
			document.forms[0].submit();
		});
	});
</script>
</head>

<body>
<div th:replace="fragments/header :: admin_header"></div>

	<div class="blog-header">
	      <div class="container">
	        <h6 class="blog-title w3-myfont">Add New Category to the Product Inventory</h6>
	        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
	      </div>
	</div>
	
	<br/>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				
				<form th:object="${product}" method="post" enctype="multipart/form-data" class="form-horizontal">
					<h4 th:text="${msg}" style="color: green;font-family: Arial, Times, serif;" align="center"></h4>
					
						<div class="form-group">
						    <label class="col-md-3 control-label"><span th:text="'Product Category:'"></span>  </label>  
							<div class="col-md-6">
								<select id="category" th:field="*{categoryId}" class="form-control">
								<option value="">Select</option>
								<option th:each="c : ${categories}" th:value="${c.catId}" th:text="${c.catName}"></option>
								</select>
							</div>
							<div class="col-md-3">
								<p class="form-error-text" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">Category Error</p>
							</div>
						</div>
						
						<div class="form-group">
							 <label class="col-md-3 control-label"><span th:text="'Product Name:'"></span></label>
							 <div class="col-md-6">
							 	<input type="text" class="form-control" size= "100" id="prodName" th:field="*{name}" />
							 </div>
							 <div class="col-md-3">
							 	<p class="form-error-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Product Name Error</p>
							</div>
						</div>
					
						<div class="form-group">	
							<label class="col-md-3 control-label"><span th:text="'Product Description:'"></span></label>
							<div class="col-md-6">
								<input type="text" class="form-control" size= "100" id="prodDesc" th:field="*{description}" />
							</div>
							<div class="col-md-3">
								<p class="form-error-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Product Description Error</p>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-3 control-label"><span th:text="'Product Image:'"></span></label>
							<div class="col-md-6">
								<input type="file" name="imgFile" th:field="*{imgFile}" /> <!-- class="form-control" -->
							</div>
							<div class="col-md-3">
								<!-- <p class="form-error-text" th:if="${#fields.hasErrors('imgFile')}" th:errors="*{imgFile}">Product Image Name Error</p> -->
							</div>
						</div>
					
						<div class="form-group">        
	      					<div class="col-sm-offset-5 col-sm-7">
								<input type="submit" id="addProduct" class="btn btn-info btn-lg" value="AddProduct" />
							</div>
						</div>
						
				</form>
				
			</div>
			
			<div class="col-sm-3">
			</div>
		</div>
	</div>
	
	<br/><br/><br/><br/>
	
	<footer class="blog-footer">
	      <p>
	      	<div th:replace="fragments/footer :: footer"></div>
	      </p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	</footer>
	
</body>

</html>