<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Farm</title>
 <div th:replace="fragments/header :: header-css"></div>

    <!-- Location picker -->
    <script type="text/javascript" src='https://maps.google.com/maps/api/js?key=AIzaSyBxhO9ukdAPoyWRC6EhxFaIJPw0QE5zhEc&amp;libraries=places'></script>
    <script type="text/javascript" src="../scripts/locationpicker.jquery.js"></script>
</head>

<body>
<form  th:object="${user}"  method="post">
<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div id="examples">
			<div class="form-horizontal">

				<div class="form-group">
					<label class="col-sm-1 control-label">Name:</label>

					<div class="col-sm-5">
						<input type="text" class="form-control" id="name" th:field="*{uName}" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">Location:</label>

					<div class="col-sm-5">
						<input type="text" class="form-control" id="us2-address"  th:field="*{uAddress}"/>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">Contact:</label>

					<div class="col-sm-5">
						<input type="text" class="form-control"  th:field="*{uPhoneNo}" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">User Name:</label>

					<div class="col-sm-5">
						<input type="text" class="form-control" id="name" th:field="*{uAliasName}" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-1 control-label">Password:</label>

					<div class="col-sm-5">
						<input type="text" class="form-control" id="name" th:field="*{uPass}" />
					</div>
				</div>
				
				<!-- <div id="us2" style="width: 550px; height: 400px;"></div> -->
				<div id="us2" style="width: 550px; height: 400px;display:none"></div>
				
				<div class="clearfix">&nbsp;</div>
				
				<div class="m-t-small" style="display:none;">
					<label class="p-r-small col-sm-1 control-label">Lat.:</label>

					<div class="col-sm-1">
						<input type="text" class="form-control" style="width: 110px" id="us2-lat" th:field="*{uLat}" />
					</div>
					<label class="p-r-small col-sm-1 control-label">Long.:</label>

					<div class="col-sm-1">
						<input type="text" class="form-control" style="width: 110px" id="us2-lon" th:field="*{uLong}" />
					</div>
				</div>
				
				<div class="clearfix"></div>
				<input type="submit" id="register" class="btn btn-info" value="Register"></input>
			</div>
		</div>
	</div>
</form>
	<div th:replace="fragments/footer :: footer"></div>
</body>
<script>
$('#register').click( function(){
 	document.forms[0].action ="/registration";
	document.forms[0].submit(); 
});
$( document ).ready(function() {
	//alert("hiii1111");
 				var options = {
					  enableHighAccuracy: true,
					  timeout: 5000,
					  maximumAge: 0,
					  mapTypeId : google.maps.MapTypeId.ROADMAP
				};
				function success(pos) {
				  var crd = pos.coords;
				  var address="";
				  //alert('Your current position is:');
				  //alert(`Latitude : ${crd.latitude}`);
				  //alert(`Longitude: ${crd.longitude}`);
				  //alert(`More or less ${crd.accuracy} meters.`);
				  
					$('#us2').locationpicker({
                        location: {
                            latitude: crd.latitude,
                            longitude: crd.longitude
                        },
                        radius: 400,
                        inputBinding: {
                            latitudeInput: $('#us2-lat'),
                            longitudeInput: $('#us2-lon'),
                           //radiusInput: $('#us2-radius'),
                            locationNameInput: $('#us2-address')
                        },
                        enableAutocomplete: true,
						addressFormat: "street_address"
						//markerIcon: 'http://www.iconsdb.com/icons/preview/tropical-blue/map-marker-2-xl.png'
                    });
				};
				function error(err) {
				  console.warn(`ERROR(${err.code}): ${err.message}`);
				};

				navigator.geolocation.getCurrentPosition(success, error, options); 
});
 </script>
</html>