<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" ></div>

<script>
	$(document).ready(function() {
		$('#Search').click(function() {
			document.forms[0].action = "/search";
			document.forms[0].submit();
		});
		$('#buy').click(function() {
			document.forms[0].action = "/buyBasket";
			document.forms[0].submit();
		});
		
		$("#cart tbody").on("click", "tr > .removeItem", function(e){
			//$(".remove_item").on("click", function(e){
			   // alert("hiiii");
			    //alert( $(this).closest("tr").find(".item_price").val());
			    var price=$(this).closest("tr").find(".item_price_display").text();
			    var length= $("#cart tbody > tr").length - 2;
			    //alert( length);
			    if(length == 1){
			    	$("#cart").hide();
			    	return false;
			    }
			    var total=$('#cart tbody tr:eq('+length+')').find('.total_display').text();
			    var finalTotal=total-price;
			    //alert( "total "+total);
			    //alert("finalTotal  " +finalTotal);
			    $('#cart tbody tr:eq('+length+')').find('.total_display').text("Rs."+finalTotal);
			/*     $('#cart tbody tr:eq('+length+')').find('.total_price').prop("value", function () {
		        	return finalTotal;
				}); */
			    $(this).closest("tr").remove();
			        
			        $("tr .seller_prod_id").prop("name", function () {
			        	return "basket["+($(this).closest('tr').index())+"].addToCartprodId";
					});
			        
			        $("tr .seller_prod_id").prop("id", function () {
			        	return "basket["+($(this).closest('tr').index())+"].addToCartprodId";
					});
			});
	});
</script>
</head>

<body>
	<div th:replace="fragments/header :: header" ></div>
	
	<div class="blog-header">
	      <div class="container">
	        <h6 class="blog-title w3-myfont">Your Cart</h6>
	        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
	      </div>
	</div>
	
	<div class="container upload">
	<div class="row" align="center">
		<form th:object="${farm}" method="post" enctype="multipart/form-data">
			<div th:replace="fragments/header :: prod-search"></div>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<div class="row">
				<table class="table table-bordered" th:if="${cart !=null and !cart.empty}" id="cart">
				<thead>
				<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Per Unit Cost</th>
				<th>Cost</th>
				<th>Remove</th>
				</tr>
				</thead>
				<tbody>
					<div th:each="cartObj,rowStat : ${cart}">
						<tr th:if="${cartObj.addToCart}">
						
							<td th:text="${cartObj.name}"></td>
							<td  th:text="${cartObj.quantity} + ${cartObj.prodUnits}"></td>
							<td  th:text="${cartObj.price}"></td>
							<td  class="item_price_display" th:text="${cartObj.itemPrice}"></td>
							
							<td hidden="hidden">
							<input type="text" class="form-control seller_prod_id" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].addToCartprodId'}"
							th:id="${'basket['+__${rowStat.index}__+'].addToCartprodId'}"
							th:text="${cartObj.addToCartprodId}" 
							th:value="${cartObj.addToCartprodId}" />
							</td>
							
							<!-- <td hidden="hidden">
							<input type="text" class="form-control seller_id" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].sellerId'}"
							th:id="${'basket['+__${rowStat.index}__+'].sellerId'}"
							th:text="${cartObj.sellerId}" 
							th:value="${cartObj.sellerId}" />
							</td>
							
							<td hidden="hidden">
							<input type="text" class="form-control seller_prod_id" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].sellerProdId'}"
							th:id="${'basket['+__${rowStat.index}__+'].sellerProdId'}"
							th:text="${cartObj.sellerProdId}" 
							th:value="${cartObj.sellerProdId}" />
							</td>
							
							<td hidden="hidden">
							<input type="text" class="form-control item_price" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].itemPrice'}"
							th:id="${'basket['+__${rowStat.index}__+'].itemPrice'}"
							th:text="${cartObj.itemPrice}" 
							th:value="${cartObj.itemPrice}" />
							</td>
							
							<td hidden="hidden">
							<input type="text" class="form-control price" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].price'}"
							th:id="${'basket['+__${rowStat.index}__+'].price'}"
							th:text="${cartObj.price}" 
							th:value="${cartObj.price}" />
							</td>
							
							<td hidden="hidden">
							<input type="text" class="form-control prod_units" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].prodUnits'}"
							th:id="${'basket['+__${rowStat.index}__+'].prodUnits'}"
							th:text="${cartObj.prodUnits}" 
							th:value="${cartObj.prodUnits}" />
							</td>
							
						    <td hidden="hidden">
							<input type="text" class="form-control quantity" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].quantity'}"
							th:id="${'basket['+__${rowStat.index}__+'].quantity'}"
							th:text="${cartObj.quantity}" 
							th:value="${cartObj.quantity}" />
							</td> -->
							
							<td class="removeItem">  <a href="#" class="remove_item"><span class="glyphicon glyphicon-remove"></span></a>
					        </td>
						</tr>
						<tr th:if="${rowStat.index >= rowStat.size-1}">
							<td></td>
							<td></td>
							<td></td>
							<td th:text="'Total Cost in Rs.'"></td>
							<td  class="total_display" th:text="${cartObj.totalPrice}"></td>
							
				<!-- 			<td hidden="hidden">
							<input type="text" class="form-control total_price" size= "200" 
							th:name="${'basket['+__${rowStat.index}__+'].totalPrice'}"
							th:id="${'basket['+__${rowStat.index}__+'].totalPrice'}"
							th:text="${cartObj.totalPrice}" th:value="${cartObj.totalPrice}" />
							</td> -->
						</tr>
					</div>
					
					<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
								<td>
								<input type="submit" id="buy" class="btn btn-info btn-lg" value="Place Order"></input>
							</td>
					</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</div>
	<br/><br/><br/><br/>
	
	<footer class="blog-footer">
	      <p>
	      	<div th:replace="fragments/footer :: footer"></div>
	      </p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	</footer>
	
</body>

</html>