<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" th:href="@{/css/blog.css}" href="../../css/blog.css"/>
    
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="blog-header">
      <div class="container">
        <h6 class="blog-title w3-myfont">Welcome To E-organic Market</h6>
        <p class="lead blog-description"><b>E-Organic Market </b>  (Eat Healthy Live Healthy)</p>
      </div>
</div>

<div class="container">

<img src="../images/emarket.gif" class="img-rounded" alt="E-Organic Market"  align="centre" width="600" height="300"> </img>
    <div class="starter-template">
    <!-- hello width="620" height="360"-->
  	<!-- <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3. Visit <a th:href="@{/about}">About</a></h2> -->
    </div>
	<!-- <div class="starter-template">
        <h1>User page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div> -->
    
</div>
<!-- /.container -->

<br/><br/>

<footer class="blog-footer">
	      <p>
	      	<div th:replace="fragments/footer :: footer"></div>
	      </p>
	      <p>
	        <a href="#">Back to top</a>
	      </p>
	</footer>

</body>
</html>